<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>წაგვიკითხეთ 32 ქართული სიტყვა</title>
    <link href="static/styles/app.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="wrapper">

    <header>
        <h1>გთხოვთ დაგვეხმაროთ სასწავლო მიზნით რამოდენიმე ათეული ქართული სიტყვის აუდიო ფაილების ღია ბაზის შექმნაში</h1>
    </header>

    <section class="top-display">
        <div class="welcome-display">
            <h3>შესავალი</h3>
            ყველა ქართული ენის მცოდნეს გულწრფელად გაუხარდა კომპანია google-ის მიერ ქართული ენის ამომცნობის შექმნა.
            google-ის ამ სერვისს ორი შეზღუდვა ახლავს: 1)ამოცნობის სერვისი არა google-ის აპლიკაციებიდან ფასიანია
            2)თვითონ ამომცნობი ნეირონული ქსელი და მისი საწყისი მონაცემები მიუწვდომელია.
            დიდ ენებს ისტორიულად დაგროვილი უზარმაზარი კლასიფიცირებული აუდიო ფაილების მონაცემთა ბაზები გააჩნიათ.
            ასეთი ე.წ. <a href="https://en.wikipedia.org/wiki/Speech_corpus">Speech Corpus</a>-ის შექმნა დიდი და რთული
            საქმეა.
            ჩვენ გაცილებით უფრო მცირე და რეალისტური გეგმები გვაქვს.
            <br>
            <br>
            <h3>ჩვენი მიზანი</h3>
            ჩვენი მიზანია შევაგროვოთ 32 სიტყვის რაც შეიძლება მეტი სხვადასხვა აუდიო ჩანაწერი. მნიშვნელოვანია რომ
            სიტყვები განსხვავებული ადამიანების
            მიერ იქნას წარმოთქმული. ეს აუდიო ჩანაწერები გამოყენებული იქნება სასწავლო მიზნებით. კერძოდ ნეირონული ქსელის
            გასაწრვთნელად შემდგომში ამ სიტყვების
            ამოცნობის მიზნით.
            <br>
            <br>
            <h3>უფლებები</h3>
            თქვენი და კიდევ მინიმუმ რამოდენიმე ათეული ათასი ჩანაწერი, ყოველგვარი საიდენტიფიკაციო ინფორმაციის გარეშე,
            შემთხვევითი თანამიმდევრობით
            საჯაროდ გამოქვეყნდება სასწავლო, არაკომერციული თუ კომერციული გამოყენების მიზნით. ჩანაწერის შექმნით და
            ატვირთვით თქვენ ავტომატურად
            უარს აცხადებთ ყოველგვარ საავტორო უფლებაზე.
        </div>
    </section>

    <section class="main-controls">
        <div id="buttons">
            <a href="/start" class="continue-link">
                <button class="continue">ვეთანხმები</button>
            </a>
        </div>
    </section>

</div>

<a href="https://github.com/gmamaladze/ge-open-speech-recording">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
         src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
         alt="Fork me on GitHub"
         data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
</a>

</body>
</html>
